@using WebApplication1.Models
@model IQueryable<Course>
@{
    ViewData["Title"] = "Course";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="container">
    <div class="text-center">
        <a class="btn btn-primary" href="@Url.Action("CreateCourse", "Home")">Create course</a>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Course name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td class="link-to">
                            <a href="@Url.Action("Groups", "Group", new { courseId = course.COURSE_ID })">@course.NAME</a>
                        </td>
                        <td class="td-btn">
                            <a class="btn btn-primary" href="@Url.Action("UpdateCourse", new { id = course.COURSE_ID })">Edit</a>

                            <form method="post" asp-controller="Home" asp-action="Delete">
                                <input type="hidden" value="@course.COURSE_ID" name="Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
